<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruanko.hlearning.login.mapper.AdminMapper">

<!--    <resultMap id="" type="">-->
<!--        <id column="" jdbcType="" property=""/>-->
<!--        <result column="" jdbcType="" property=""/>-->
<!--    </resultMap>-->

    <select id="adminByNameAndPwd"  resultType="com.ruanko.hlearning.login.entity.Admin">
       select * from manager where mg_name = #{mg_name} and mg_password = #{mg_password}
    </select>
</mapper>