<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>员工请假</title>
	<link href="/layui/css/layui.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
	<style type="text/css">
	</style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

	<div th:include="header :: header"></div>

	<div class="layui-body layui-container">

		<section class="Hui-article-box">
			<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
				<span class="c-gray en">&gt;</span>
				请假管理
				<span class="c-gray en">&gt;</span>
				员工请假
			</nav>
			<div class="Hui-article">
				<article class="cl pd-20">
					<div class="text-c">

						<form th:action="@{/leaveinfo/find}"  method="get" class="form-horizontal">
							<div class="form-group">
								<div class="col-xs-4">
									<select class="input-text" id="option" name="option" placeholder="请选择" style="width:120px;">
										<option value="">所有</option>
										<option value="jobnum" >工号</option>
										<option value="name">姓名</option>
										<option value="department" >部门</option>
										<option value="type" >请假类型</option>
										<option value="examinestate" >状态</option>
									</select>

								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-4">
									<input type="text" class="input-text" id="value" name="value" style="width:120px;"/>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-10">
									<input class="btn btn-primary" type="submit" value="查询"/>&nbsp;&nbsp;
								</div>
							</div>
						</form>
					</div>
					<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				</span>
					</div>
					<div class="mt-20">
						<table class="table table-border table-bordered table-bg table-hover table-sort">
							<thead>
							<tr class="text-c">
								<th width="80">工号</th>
								<th width="80">姓名</th>
								<th width="80">部门</th>
								<th width="80">请假类型</th>
								<th width="80">请假原因</th>
								<th width="80">附件</th>
								<th width="80">开始时间</th>
								<th width="80">结束时间</th>
								<th width="80">请假时长</th>
								<th width="80">申请时间</th>
								<th width="80">审核时间</th>
								<th width="80">审核状态</th>
								<th width="200">操作</th>
							</tr>
							</thead>
							<tbody>

							<tr class="text-c" th:each="leave : ${leaveList}">
								<td th:text="${leave.jobnum}"></td>
								<td th:text="${leave.name}"></td>
								<td th:text="${leave.department}"></td>
								<td th:text="${leave.type}"></td>
								<td th:text="${leave.reason}"></td>
								<td><a th:href="@{/leaveinfo/show_image/{enclosure}(enclosure=${leave.enclosure})}" target="image"  th:text="${leave.enclosure}"></a></td>
								<td th:text="${leave.starttime}"></td>
								<td th:text="${leave.endtime}"></td>
								<td th:text="${leave.duration}"></td>
								<td th:text="${leave.applytime}"></td>
								<td th:text="${leave.examinetime}"></td>
								<td th:text="${leave.examinestate}"></td>
								<!--							<td><a class="btn btn-danger" th:href="@{/student/delete/{id}(id=${student.id})}">删除</a></td>-->
								<td style="color: #0000cc" >
									<button class="btn btn-primary" th:value="${leave.leaveid}"  name="agree" data-toggle="modal">同意</button>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger" th:value="${leave.leaveid }"  name="disagree" data-toggle="modal">驳回</button>

								</td>
							</tr>

							</tbody>
						</table>
						<div align="center"  style="margin-top: 40px">
							<a class="btn btn-primary" th:href="'/leaveinfo/list1'+'?page=' + 1" role="button">首页</a>
							<a class="btn btn-primary" th:href="'/leaveinfo/list1'+'?page=' + (${page}-1)" role="button">上一页</a>
							第<input th:value="${page}" disabled="disabled" style="width: 30px;text-align: center">页
							<a class="btn btn-primary" th:href="'/leaveinfo/list1'+'?page=' + (${page}+1)" role="button">下一页</a>
							<a class="btn btn-primary" th:href="'/leaveinfo/list1'+'?page=' + ${pagenum}" role="button">尾页</a>
						</div>
					</div>

				</article>
			</div>
		</section>

	</div>

	<div th:include="footer :: footer"></div>

</div>

<script src="/scripts/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}"></script>
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script>

	layui.use(['carousel', 'element'], function () {
		let carousel = layui.carousel;
		let element = layui.element;

		//建造实例
		carousel.render({
			elem: '#index'
			, width: '900' //设置容器宽度
			, height: '550px' //设置容器高度
			// , full:'true' //是否全屏轮播,默认false
			// , arrow: 'always' //始终显示箭头和点击按钮
			// ,anim: 'updown' //切换动画方式，可从各个方向滚动
		});
	});

	$("button[name='agree']").click(function(){
		var id = $(this).val();
		var obj = JSON.stringify({"id":id});
		$.ajax({
			url:"agree",
			data:obj,
			type:"POST",
			contentType: "application/json;charset=utf-8",
			dataType:"JSON",
			traditional: true,
			success:function(res){
				if(res==1){
					alert("操作成功！");
					window.location.replace("/leaveinfo/list");
				}else if(res==2){
					alert("操作失败！");
				}else{
					alert("已审核！");
				}
			}
		})
	})

	$("button[name='disagree']").click(function(){
		var id = $(this).val();
		var obj = JSON.stringify({"id":id});
		$.ajax({
			url:"disagree",
			data:obj,
			type:"POST",
			contentType: "application/json;charset=utf-8",
			dataType:"JSON",
			traditional: true,
			success:function(res){
				if(res==1){
					alert("操作成功！");
					window.location.replace("/leaveinfo/list");
				}else if(res==2){
					alert("操作失败！");
				}else{
					alert("已审核！");
				}
			}
		})
	})

</script>

</body>
</html>
