<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/userInfo.css}" />
    <style type="text/css">

    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:include="user_header :: header"></div>

    <div class="layui-body layui-container">

        <section class="Hui-article-box">
            <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
                <span class="c-gray en">&gt;</span>
                个人中心
            </nav>
            <div class="Hui-article">

                <div class="container">
                    <div class="c-left" style="height: 680px">
                        <div class="l-img"  th:each="staff : ${staff}" >
                            <h2>基本信息</h2>
                            <p al>工号：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b"  th:text="${staff.jobnum}"></span></p>
                            <p>姓名：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.name}"></span></p>
                            <p>手机号：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.phone}"></span></p>
                            <p>年龄：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.age}"></span></p>
                            <p>性别：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.sex}"></span></p>
                            <p>学历：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.education}"></span></p>
                            <p>部门：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.department}"></span></p>
                            <p>岗位：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.post}"></span></p>
                            <p>入司时间：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${staff.jointime}"></span></p>
                            <button style="margin-left: 30px;margin-top: 40px; width: 90px;" class="btn btn-danger" th:value="${staff.staffid}"  name="check" data-toggle="modal">打卡</button>
                        </div>
                        <button style="margin-left: 30px;margin-top: 55px; width: 90px;" class="btn btn-primary" name="pwd" data-toggle="modal" onclick="pwd()" >修改密码</button>
                        <button style="margin-left: 40px;margin-top: 55px; width: 90px;" class="btn btn-primary" name="update" data-toggle="modal" onclick="update()" >修改信息</button>
                    </div>
                    <div class="c-right">
                        <div id="update">


                            <div class="r-title">

                                <h2>修改个人信息</h2>
                            </div>
                            <div class="r-table" style="margin-top: 50px;">
                                <form th:action="@{/staffUser/update}"  method="post" class="form form-horizontal" >
                                    <div class="row cl">
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="hidden" class="input-text"  placeholder="" id="staffid" name="staffid" th:value="${staff.staffid}" th:field="${staff.staffid}" />
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>工号：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="text" class="input-text" autocomplete="off" id="jobnum" name="jobnum" disabled="disabled" th:value="${staff.jobnum}"
                                                   th:field="${staff.jobnum}">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="text" class="input-text" autocomplete="off" id="name" name="name" required pattern="^[\u4e00-\u9fa5]{2,6}$" title="请输入正确的名字！"  th:value="${staff.name}"
                                                   th:field="${staff.name}">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="text" class="input-text" autocomplete="off" id="phone" name="phone" required pattern="^[1][3,4,5,7,8][0-9]{9}$" title="请输入正确的手机号！" th:value="${staff.phone}"
                                                   th:field="${staff.phone}">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>年龄：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="text" class="input-text" autocomplete="off" id="age" name="age" required pattern="^([1-9]\d?|1[01]\d|120)$" title="请输入正确的年龄！" th:value="${staff.age}"
                                                   th:field="${staff.age}">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <select class="input-text" autocomplete="off" id="sex" name="sex" required  th:value="${staff.sex}" >
                                                <option th:selected="${staff.sex=='男'}" value="1">男</option>
                                                <option th:selected="${staff.sex=='女'}" value="0">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学历：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <select class="input-text" autocomplete="off" id="education" name="education" required placeholder="请选择"  th:value="${staff.education}" th:field="${staff.education}">
                                                <option value="大专">大专</option>
                                                <option value="本科">本科</option>
                                                <option value="研究生">研究生</option>
                                                <option value="博士">博士</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>部门：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <select class="input-text" autocomplete="off" id="department" name="department" required placeholder="请选择"  th:value="${staff.department}" th:field="${staff.department}">
                                                <option value="财务部">财务部</option>
                                                <option value="技术部">技术部</option>
                                                <option value="后勤部">后勤部</option>
                                                <option value="人事部">人事部</option>
                                                <option value="市场部">市场部</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>岗位：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <select class="input-text" autocomplete="off" id="post" name="post" placeholder="请选择" required  th:value="${staff.post}" th:field="${staff.post}">
                                                <option value="主管">主管</option>
                                                <option value="普通员工">普通员工</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>入司时间：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="date" class="input-text" placeholder="入司时间" name="jointime" id="jointime" required  th:value="${staff.jointime}"
                                                   th:field="${staff.jointime}">
                                        </div>
                                    </div>-->
                                    <div style="margin-left: 240px;margin-top:20px;" >
                                        <input class="btn btn-primary" value="保存"  type="submit"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="upwd">


                            <div class="r-title">

                                <h2>修改密码</h2>
                            </div>
                            <div class="r-table" style="margin-top: 50px;">
                                <form th:action="@{/staffUser/zpwd}"  method="post" class="form form-horizontal" >
                                    <div class="row cl">
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="hidden" class="input-text"  placeholder="" id="staffid1" name="staffid1" th:value="${staff.staffid}" th:field="${staff.staffid}" />
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">原密码：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="password" class="input-text" required name="npwd" id="npwd" placeholder="原密码" >
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">密码：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="password" class="input-text" required pattern="^[\w]{3,16}$" title="密码必须是大于2，小于17！" name="pwd" id="pwd" placeholder="密码" onblur="pw()">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">确认密码：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="password" class="input-text" required name="zpwd" id="zpwd" placeholder="确认密码" onblur="zpw()">
                                        </div>
                                    </div>
                                    <div style="margin-left: 240px;margin-top:20px;" >
                                        <input class="btn btn-primary" value="保存"  type="submit"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:include="footer :: footer"></div>

</div>

<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}"></script>
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script>

    document.getElementById("upwd").style.display = "none";
    var patt=[];
    //密码必须超过3位
   /* function pw(){
        var pwd=document.getElementById("pwd").value;
        patt.pwd=/^[\w]{3,16}$/;
        if(patt.pwd.test(pwd)==false){
            alert("密码必须大于3位！");
        }
    }*/

    function zpw(){
        var rpwd=document.getElementById("zpwd").value;
        var pwd=document.getElementById("pwd").value;
        if(rpwd!=pwd){
            alert("与上面密码不一致！");
        }
    }

    function pwd(){
        document.getElementById("update").style.display = "none";
        document.getElementById("upwd").style.display = "block";
    }

    function update(){
        document.getElementById("update").style.display = "block";
        document.getElementById("upwd").style.display = "none";
    }

    layui.use(['carousel', 'element'], function () {
        let carousel = layui.carousel;
        let element = layui.element;

        //建造实例
        carousel.render({
            elem: '#index'
            , width: '900' //设置容器宽度
            , height: '550px' //设置容器高度
            // , full:'true' //是否全屏轮播,默认false
            // , arrow: 'always' //始终显示箭头和点击按钮
            // ,anim: 'updown' //切换动画方式，可从各个方向滚动
        });
    });


    $("button[name='check']").click(function(){
        var id = $(this).val();
        var obj = JSON.stringify({"id":id});
        $.ajax({
            url:"check",
            data:obj,
            type:"POST",
            contentType: "application/json;charset=utf-8",
            dataType:"JSON",
            traditional: true,
            success:function(res){
                if(res==1){
                    alert("打卡成功！");
                    window.location.replace("/staffUser/user");
                }else if(res==2){
                    alert("打卡失败！");
                }else {
                    alert("今天已经打卡了哦！");
                }
            }
        })
    })

</script>

</body>
</html>
