<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>上传课程资源</title>
	<link href="/layui/css/layui.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
	<style type="text/css">
	</style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

	<div th:include="teacher_header :: header"></div>

	<div class="layui-body layui-container">
		<section class="Hui-article-box">
			<article class="cl pd-20">
				<h3 align="center">上传课程资源</h3>
				<div style="width: 500px;height: 500px;margin: auto;">
					<form th:action="@{/addCourse}"  method="get" class="form form-horizontal">
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>课程名：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" title="请输入课程名" placeholder="课程名" id="cs_name" name="cs_name"><br/>
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>课程类型：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" title="请输入课程类型" placeholder="课程类型" id="cs_type" name="cs_type"><br/>
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>课程资源：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="file" class="input-text" placeholder="课程资源" id="cs_url" name="cs_url"><br/>
								<p style="font-size: 12px;color: red">文件大小不能超过300MB</p>
							</div>
						</div>
						<div style="margin-left: 350px;">
							<input class="btn btn-primary" value="提交"  type="submit"/>
						</div>
					</form>
				</div>

			</article>
		</section>

	</div>

	<div th:include="footer :: footer"></div>

</div>
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
<script src="/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript">

	layui.use(['carousel', 'element'], function () {
		let carousel = layui.carousel;
		let element = layui.element;
		//建造实例
		carousel.render({
			elem: '#index'
			, width: '900' //设置容器宽度
			, height: '550px' //设置容器高度
		});
	});

	// function textCounter(field, countfield, maxlimit) {
	// 	if (field.value.length > maxlimit){
	// 		field.value = field.value.substring(0, maxlimit);
	// 	} else{
	// 		countfield.value = maxlimit - field.value.length;
	// 	}
	// }

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>