<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <footer th:fragment="header">
        <div class="layui-header">
            <div class=" layui-nav " style="font-size: x-large; color: #009688;line-height: 60px;">乐 学 智 慧 教 育 平 台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;" style="text-decoration:none">
                        <img src="/h-ui/images/ucnter/avatar.png" class="layui-nav-img">
                        <span th:text="${session.username}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/information}">个人中心</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/login">退出登录</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">

                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">个人课程</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/courselist}">&emsp;&emsp;查询课程</a></dd>
                            <dd><a th:href="@{/waitCourseList}">&emsp;&emsp;上传课程资源</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">私信</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/checkUser/list">&emsp;&emsp;查看私信</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</head>
</html>
