<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Teacher Details.css">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <div class="nav">
            <a href="index.html">首页</a>
            <a href="#">课程</a>
            <a href="#">教师</a>
            <a href="#">联系我们</a>
            <p>乐学智慧教育平台</p>
        </div>
        <div class="middle">
            <div class="fm">
                <img src="img/customers/ben.jpg" alt="">
            </div>
            <div class="kec">
                <h1>教师姓名</h1>
                <h3>教师简介</h3>
                <span class="kcjj">
                    毕业于奥克兰理工大学计算机系，主修软件开发和计算机科学。拥有英国贝尔法斯特女王大学教育学硕士学位。熟悉Java, PHP, Golang, Python,
                    C#等多门编程语言。教学特点为鼓励学生多实验，多尝试，多思考。</span>

            </div>

        </div>
        <div class="xgkc">
            <!-- "相关课程"标题 -->
            <h2 class="course-title">相关课程</h2>
            <!-- 橘色横线 -->
            <hr class="orange-line">
        </div>
        <div class="jtkc">
            <div><a href="#"><img src="img/课程封面素材/软件工程.png" alt="">
                    <p>软件工程</p>
                </a></div>
            <div><a href="#"><img src="img/课程封面素材/大数据基础汇编.png" alt="">
                    <p>软件工程</p>
                </a></div>
            <div><a href="#">2222</a></div>
            <div><a href="#">2222</a></div>
            <div><a href="#">2222</a></div>
            <div><a href="#">2222</a></div>
            <div><a href="#">2222</a></div>
            <div><a href="#">2222</a></div>

        </div>
    </div>
</body>

</html>