<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="无论您是学生、教师还是家长，乐学智慧教育平台都将成为您学习道路上不可或缺的伙伴。让我们携手共建一个积极、高效、愉快的学习社区，共同追求知识与智慧的辉煌！"
    />
    <link rel="stylesheet" href="css/footer.css" />
    <!-- Always include this line of code!!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="img/favicon.png" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="manifest" href="../static/user/manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>
    <script defer src="js/script.js"></script>
    <title>乐学智慧教育平台 &mdash; 欢迎您！</title>
</head>
<body>
    <footer class="footer" id="conus">
        <div class="container grid grid--footer">
          <div class="logo-col">
            <a href="#" class="footer-logo">
              <img class="logo" alt="logo" src="img/logo.png" />
            </a>
  
            <ul class="social-links">
              <li>
                <a class="footer-link" href="#"
                  ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
                ></a>
              </li>
              <li>
                <a class="footer-link" href="#"
                  ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
                ></a>
              </li>
              <li>
                <a class="footer-link" href="#"
                  ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
                ></a>
              </li>
            </ul>
  
            <p class="copyright">
              Copyright &copy; <span class="year">2023</span> by 乐学智慧教育平台, Inc.
              All rights reserved.
            </p>
          </div>
  
          <div class="address-col">
            <p class="footer-heading">联系我们</p>
            <address class="contacts">
              <p class="address">
                中国重庆市南岸区黄桷桠崇文路2号
              </p>
              <p>
                <a class="footer-link" href="tel:600-820-2023">600-820-2023</a
                ><br />
                <a class="footer-link" href="mailto:hello@lexue.com"
                  >hello@lexue.com</a>
              </p>
            </address>
          </div>
  
          <nav class="nav-col">
            <p class="footer-heading">赞助商</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">重庆邮电大学</a></li>
              <li><a class="footer-link" href="#">第二组小组成员</a></li>
              <li><a class="footer-link" href="#">指导老师</a></li>
            </ul>
          </nav>
  
          <nav class="nav-col">
            <p class="footer-heading">客户端</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">iOS app</a></li>
              <li><a class="footer-link" href="#">Android app</a></li>
              <li><a class="footer-link" href="#">Windows</a></li>
              <li><a class="footer-link" href="#">Linux</a></li>
            </ul>
          </nav>
  
          
  
          <nav class="nav-col">
            <p class="footer-heading">课程平台</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Udemy</a></li>
              <li><a class="footer-link" href="#">Skillshare</a></li>
              <li><a class="footer-link" href="#">DesignCode.io</a></li>
            </ul>
          </nav>
        </div>
      </footer>
</body>
</html>