<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/userInfo.css}" />
    <style type="text/css">

    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:include="teacher_header :: header"></div>

    <div class="layui-body layui-container">

        <section class="Hui-article-box">
            <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
                <span class="c-gray en">&gt;</span>
                个人中心
            </nav>
            <div class="Hui-article">

                <div class="container">
                    <div class="c-left" style="height: 550px">
                        <div class="l-img"  th:each="teacher : ${teacher}" >
                            <h2>基本信息</h2>
                            <p al>教师ID：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b"  th:text="${teacher.tc_id}"></span></p>
                            <p>教师姓名：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${teacher.tc_name}"></span></p>
                            <p>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${teacher.tc_email}"></span></p>
                            <p>电话：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${teacher.tc_phone}"></span></p>
                            <p>照片：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${teacher.tc_image}"></span></p>
                            <p>个人介绍：&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #86868b" th:text="${teacher.tc_introduce}"></span></p>
                            <a style="margin-left: 50px;margin-top: 40px; width: 90px;" class="btn btn-danger" th:href="@{/delete(id=${teacher.tc_id})}" data-toggle="modal">注销</a>
                        </div>
                        <button style="margin-left: 30px;margin-top: 55px; width: 90px;" class="btn btn-primary" name="pwd" data-toggle="modal" onclick="pwd()" >修改密码</button>
                        <button style="margin-left: 40px;margin-top: 55px; width: 90px;" class="btn btn-primary" name="update" data-toggle="modal" onclick="update()" >修改信息</button>
                    </div>
                    <div class="c-right">
                        <div id="update">

                            <div class="r-title">

                                <h2>修改个人信息</h2>
                            </div>
                            <div class="r-table" style="margin-top: 50px;">
                                <form th:action="@{/updateInfo}"  method="post" class="form form-horizontal" >
                                    <div class="row cl">
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="hidden" class="input-text"  placeholder="" id="tc_id" name="tc_id" th:value="${teacher.tc_id}" th:field="${teacher.tc_id}" />
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="hidden" class="input-text"  placeholder="" id="tc_name" name="tc_id" th:value="${teacher.tc_name}" th:field="${teacher.tc_name}" />
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="text" class="input-text" autocomplete="off" id="tc_email" name="tc_email" th:value="${teacher.tc_email}"
                                                   th:field="${teacher.tc_email}">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>电话：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="text" class="input-text" autocomplete="off" id="tc_phone" name="tc_phone" title="请输入正确的手机号！"  th:value="${teacher.tc_phone}"
                                                   th:field="${teacher.tc_phone}">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>照片：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="file" class="input-text" autocomplete="off" id="tc_image" name="tc_image" th:value="${teacher.tc_image}"
                                                   th:field="${teacher.tc_image}">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>个人介绍：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="text" class="input-text" autocomplete="off" id="tc_introduce" name="tc_introduce" th:value="${teacher.tc_introduce}"
                                                   th:field="${teacher.tc_introduce}">
                                        </div>
                                    </div>
<!--                                    <div class="row cl">-->
<!--                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>-->
<!--                                        <div class="formControls col-xs-8 col-sm-9">-->
<!--                                            <select class="input-text" autocomplete="off" id="sex" name="sex" required  th:value="${teacher.sex}" >-->
<!--                                                <option th:selected="${teacher.sex=='男'}" value="1">男</option>-->
<!--                                                <option th:selected="${teacher.sex=='女'}" value="0">女</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <!--<div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>入司时间：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="date" class="input-text" placeholder="入司时间" name="jointime" id="jointime" required  th:value="${teacher.jointime}"
                                                   th:field="${teacher.jointime}">
                                        </div>
                                    </div>-->
                                    <div style="margin-left: 240px;margin-top:20px;" >
                                        <input class="btn btn-primary" value="保存"  type="submit"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="upwd">


                            <div class="r-title">

                                <h2>修改密码</h2>
                            </div>
                            <div class="r-table" style="margin-top: 50px;">
                                <form th:action="@{/updatePwd}"  method="get" class="form form-horizontal" >
                                    <div class="row cl">
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="hidden" class="input-text"  placeholder="" id="tc_id1" name="tc_id1" th:value="${teacher.tc_id}"/>
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">原密码：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="password" class="input-text" required name="tc_pwd" id="tc_pwd" placeholder="原密码" >
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">密码：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="password" class="input-text" required pattern="^[\w]{3,16}$" title="密码必须是大于2，小于17！" name="pwd" id="pwd" placeholder="密码" onblur="pw()">
                                        </div>
                                    </div>
                                    <div class="row cl">
                                        <label class="form-label col-xs-4 col-sm-3">确认密码：</label>
                                        <div class="formControls col-xs-8 col-sm-9">
                                            <input type="password" class="input-text" required name="zpwd" id="zpwd" placeholder="确认密码" onblur="zpw()">
                                        </div>
                                    </div>
                                    <div style="margin-left: 240px;margin-top:20px;" >
                                        <input class="btn btn-primary" value="保存"  type="submit"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:include="footer :: footer"></div>

</div>

<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}"></script>
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script>

    document.getElementById("upwd").style.display = "none";
    var patt=[];
    //密码必须超过3位
   /* function pw(){
        var pwd=document.getElementById("pwd").value;
        patt.pwd=/^[\w]{3,16}$/;
        if(patt.pwd.test(pwd)==false){
            alert("密码必须大于3位！");
        }
    }*/

    function zpw(){
        var rpwd=document.getElementById("zpwd").value;
        var pwd=document.getElementById("pwd").value;
        if(rpwd!=pwd){
            alert("与上面密码不一致！");
        }
    }

    function pwd(){
        document.getElementById("update").style.display = "none";
        document.getElementById("upwd").style.display = "block";
    }

    function update(){
        document.getElementById("update").style.display = "block";
        document.getElementById("upwd").style.display = "none";
    }

    layui.use(['carousel', 'element'], function () {
        let carousel = layui.carousel;
        let element = layui.element;

        //建造实例
        carousel.render({
            elem: '#index'
            , width: '900' //设置容器宽度
            , height: '550px' //设置容器高度
            // , full:'true' //是否全屏轮播,默认false
            // , arrow: 'always' //始终显示箭头和点击按钮
            // ,anim: 'updown' //切换动画方式，可从各个方向滚动
        });
    });


</script>

</body>
</html>
